/JS_Materials
/Course Sections/18-forkify/starter/dist/index.e37f48ea.js
/Course Sections/18-forkify/starter/.vs/starter/FileContentIndex
/Course Sections/18-forkify/starter/.parcel-cache/data.mdb
/Course Sections/18-forkify/starter/.vs/slnx.sqlite
/Course Sections/18-forkify/starter/.vs/ProjectSettings.json
/Course Sections/18-forkify/starter/dist/index.e37f48ea.js.map
